/* Define Colors */
:root {
  --beige: #f7f4de;
  --darkbeige: #aba894;
  --lightgreen: #a9bb86;
  --green: #9cb179;
  --darkgreen: #7c905c;
  --lightorange: #c9733a;
  --orange: #b45312;
  --white: #fefcf2;
  --lightgray: #9a9a9a;
}

/* Text selection color */
::selection {
  background-color: var(--green);
  color: var(--white);
}

/* Reset body and html to ensure no extra spacing */
html, body {
  background-color: var(--beige);
  margin: 0 auto;
  padding: 0;
  height: auto;
  font-family: serif;
  overflow-x: hidden;       /* Prevent horizontal scroll */
  /* Hide scroll bar but still scroll */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;    /* Firefox */
}

/* Hide scroll bar but still scroll */
body::-webkit-scrollbar {
  display: none;            /* Safari and Chrome */
}

/* Main container layout */
main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
}

section {
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--beige);
  color: var(--orange);
  font-family: serif;
}

/* Title Name */
h1 {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 2rem;
  white-space: nowrap;    /* Prevents text from wrapping */
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word; /* Makes spacing more uniform */
  word-spacing: -0.1em;     /* Fine-tunes spacing between words */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 3rem;
}

a {
  color: var(--darkgreen)
}

section ul li {
  line-height: 1.6;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 3rem;
}

/* Profile Picture Style */
#profile {
  display: block;
  margin: 1rem auto;
  max-width: 30%;
  height: auto;
  border-radius: 20%;
  border-style: solid;
  border-width: 8px;
  border-color: var(--green);
}

/* About Pictures Style */
.about {
  display: block;
  margin: 2rem auto;
  max-width: 80%;
  height: auto;
  border-radius: 0%;
  border-style: solid;
  border-width: 8px;
  border-color: var(--green);
}

/* Header Style */
header {
  background-color: var(--green);
  height: 13rem;
  color: var(--beige);
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

/* Navigation Style */
header nav ul {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  user-select: none;      /* Prevent text selection */
}

header nav ul li {
  margin-right: 3rem;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem; /* Space inside the card */
  transition: 0.3s ease;
}

header nav ul li:last-child {
  margin-right: 0;        /* Remove extra spacing at the end of li */
}

/* nav hover */
header nav ul li:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 4px 6px var(--darkgreen); /* Intensify shadow on hover */
}

header nav ul li a {
  color: var(--beige);
  text-decoration: none;
  font-weight: bold;
}

.currentpage {
  box-shadow: 0 4px 6px var(--darkgreen); /* Highlight current page */
}

/* Footer Styles */
main nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1%;
  margin: 0;
}

main nav ul li {
  margin-right: 1rem;
}

main nav ul li:last-child {
  margin-right: 0;
}

main nav ul li img {
  height: 44px;
}

main nav ul li a {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}

/* Copyright Styles */
#copyright {
  font-size: 13px;
  text-align: center;
  color: var(--green);
  padding-bottom: 1rem;
}


/************************
*   EXPERIENCE STYLES   *
*************************/
.experience {
  display: flex;
  max-width: 768px;
  height: auto;
  margin: 0 auto;
  color: var(--orange);
}

.date {
  width: 30%;
  margin: .5rem;
  justify-content: center;
}

.description {
  margin: .5rem;
  width: 70%;
}

.jobtitle {
  font-size: 1.4rem;
  text-align: left;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
  display: flex;
  align-items: center;    /* Aligns items vertically in the center */
  gap: 0.4rem;            /* Adds space between the link and the SVG */
  transition: transform 0.3s ease;  /* Adds smooth transition for the glide effect */
}

.link:hover {
  color: var(--lightorange);
  transform: translateX(10px);      /* Moves the element 10px to the right */
}

.link a {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  text-align: left;
}

.link .icon {
  width: 1.2rem;
  height: auto;
  stroke: var(--orange);
  vertical-align: middle;   /* Aligns SVGs with the middle of the text */
  margin-bottom: 5px;       /* Fine-tuning */
}

/* ul */
.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  margin-top: 0.8rem;
  padding: 0;
  list-style: none;
}

/* div */
.skillWrapper {
  border-radius: 1rem;
  border-color: var(--green);
  border-width: .15rem;
  border-style: solid;
  color: var(--orange);
  display: flex;
  padding: 0.2rem 0.8rem;   /* Space inside the card */
  transition: 0.3s ease;
}

/* div hover */
.skillWrapper:hover {
  transform: scale(1.05);   /* Slightly enlarge the card on hover */
  box-shadow: 0 4px 6px var(--darkbeige); /*Intensify shadow on hover */
}

/* li */
.skill {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* resume link */
.resume {
  background-color: var(--green);
  color: var(--white);
  width: 11rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  padding: 0;
  padding: 0.4rem 0.5rem;   /* Space inside the card */
  border-radius: 11px;
  justify-content: center;
  display: flex;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: 0.3s ease;
  gap: 0.5rem;              /* Adds space between the link and the SVG */
}

.resume:hover {
  transform: scale(1.05);   /* Slightly enlarge the card on hover */
  box-shadow: 0 2px 3px var(--darkbeige); /* Intensify shadow on hover */
}

.resume a {
  color: inherit;
  text-decoration: none;
}

.resume .icon {
  width: 1.2rem;
  height: auto;
  stroke: var(--white);
  vertical-align: middle;   /* Aligns SVGs with the middle of the text */
  margin-bottom: 5px;       /* Fine-tuning */
}

/**********************
*   PROJECTS STYLES   *
***********************/
.projects {
  justify-content: center;
  display: flex;
  max-width: 768px;
  height: auto;
  margin: 0 auto;
  color: var(--green);
  flex-wrap: wrap;          /* Allow the items to wrap onto the next line */
}

.projectcontainer {
  width: 19rem;
  padding: 1.5rem;
  padding-top: 0;
  padding-bottom: 2rem;
  justify-content: center;
  font-weight: 600;
}

.projecttitlecontainer {
  width: 100%;
  max-width: 21rem;
  background-color: var(--white);
  border-radius: 11px;
  padding: 0;
  margin: 0;
}

.projecttitle {
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: .5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectdescription {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  margin-top: .2rem;
  padding-bottom: .5rem;
  text-align: center;
}

.projectthumbnail {
  display: block;
  margin: 0 auto;
  margin-bottom: .5rem;
  width: 100%;          /* Make the width 100% of its container */
  height: 100%;         /* Make the height 100% of its container */
  max-width: 19rem;
  max-height: 19rem;
  object-fit: cover;    /* Ensures the image fills the square without distortion */
  border-radius: 10%;
  aspect-ratio: 1;      /* Fixes margin alignment issues */
  transition: 0.3s ease;
}

/* picture hover */
.projectthumbnail:hover {
  transform: scale(1.03);   /* Slightly enlarge the card on hover */
  box-shadow: 0 4px 6px var(--darkbeige); /* Intensify shadow on hover */
}

.contentsection {
  position: relative;       /* Set positioning context for the back button */
  padding: 0;
  display: flex;
  flex-direction: column;   /* Stack content vertically */
  align-items: center;
}

.contentsection p {
  text-align: left;
}

/* pictures for each project */
.projectslides {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.slidesection {
  display: flex;
  justify-content: center;
}

.slidesection p {
  text-align: center;
  font-size: 1.5rem;
}

.slidesection img {
  width: 90%;
  object-fit: cover;
  border-style: none;
  border-radius: 15px;
  margin-bottom: 1rem;    /* Space between each image in project */
}

.slidesectionsingle {
  display: flex;
  justify-content: center;
}

.slidesectionsingle img {
  width: 90%;
  object-fit: cover;
  border-style: none;
  border-radius: 15px;
  margin-bottom: 2rem;    /* Space between each image in project */
}

/* back button */
/* div */
.backbutton {
  border-radius: 1rem;
  border-style: solid;
  border-width: .15rem;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: serif;
  background-color: var(--beige);
  border-color: var(--green);
  color: var(--green);
  width: 3rem;
  user-select: none;
  justify-content: center;
  padding: .5rem 2.2rem;  /* Space inside the card */
  display: flex;
  transition: 0.3s ease;
  position: absolute;     /* Position relative to .content-section */
  top: 4rem;
  left: 3rem;
}

/* div hover */
.backbutton:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 2px 3px var(--darkbeige); /* Intensify shadow on hover */
  cursor: pointer;
}

/*********************
*   CONTACT STYLES   *
**********************/
.contactcontainer {
  display: flex;
  justify-content: center;
}

.contactcontainer a {
  color: inherit;
}

.contactcontainer p {
  text-align: left;
}

.contactsvg {
  fill: var(--green);
  width: 24px;
  height: 24px;
  vertical-align: middle; /* Aligns SVGs with the middle of the text */
  margin-bottom: 5px;     /* Fine-tuning */
}


/* Mobile Styles 768px */
@media (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
  }

  header nav ul li {
    margin-right: .8rem;
    padding: 0.4rem .5rem; /* Space inside the card */
  }

  header nav ul {
    font-size: 1.2rem;
  }

  /* Profile Picture Style */
  #profile {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  /* About Pictures Style */
 .about {
    max-width: 80%;
    width: 100%;
    margin: 1.5rem auto;
    height: auto;
    border-width: 6px;
  }

  /************************
  *   EXPERIENCE STYLES   *
  *************************/
  .experience {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;      /* Allow the items to wrap onto the next line */
  }

  .date {
    justify-content: left;
    width: 100%;
    margin: 0rem;
    margin-left: .5rem;
  }

  .description {
    margin: .5rem;
    margin-top: 0rem;
    width: 100%;
    font-weight: 200;
  }

  .jobtitle {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: .5rem;
  }

  .link {
    display: flex;
    align-items: center;  /* Aligns items vertically in the center */
    gap: 0.4rem;          /* Adds space between the link and the SVG */
    transition: transform 0.3s ease; /* Adds smooth transition for the glide effect */
  }

  .link a {
    text-align: left;
  }

  /*********************
  *   PROJECT STYLES   *
  **********************/

  .projects {
    justify-content: center;
  }

  .projecttitle {
    font-size: 1.1rem;
  }
  
  .projectdescription {
    font-size: .9rem;
  }

  .contentsection h1 {
    margin-bottom: 0rem;
  }

  /* back button */
  /* div */
  .backbutton {
    padding: .3rem 1.6rem;  /* Space inside the card */
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
    position: relative;     /* Position relative to .content-section */
    margin-right: 90%;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
}
